<a href="https://colab.research.google.com/github/nguyenminhkhuong/git_tut/blob/main/PandasTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [3]:
# Create a new column named adjusted.
my_dataframe["adjusted"] = my_dataframe["activity"] + 2

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [4]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [9]:
ka_data = np.random.randint(low=0, high=101, size=(3, 4))

ka_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

ka_dataframe = pd.DataFrame(data=ka_data, columns=ka_column_names)

print(ka_dataframe)
print(ka_dataframe['Eleanor'].iloc[[1]])

   Eleanor  Chidi  Tahani  Jason
0       49     83      48     36
1       61     96      58     77
2       72     47      38     16
1    61
Name: Eleanor, dtype: int64

In [10]:
ka_dataframe['Janet'] = ka_dataframe['Tahani'] + ka_dataframe['Jason']
print(ka_dataframe)

   Eleanor  Chidi  Tahani  Jason  Janet
0       49     83      48     36     84
1       61     96      58     77    135
2       72     47      38     16     54

In [11]:
reference_to_df = ka_dataframe
print(reference_to_df)

   Eleanor  Chidi  Tahani  Jason  Janet
0       49     83      48     36     84
1       61     96      58     77    135
2       72     47      38     16     54

In [12]:
ka_dataframe.at[1, 'Jason'] = ka_dataframe['Jason'][1] + 5

print(ka_dataframe['Jason'][1])
print(reference_to_df['Jason'][1])

82
82

In [13]:
copy_df = ka_dataframe.copy()

ka_dataframe.at[1, 'Jason'] = ka_dataframe['Jason'][1] + 5

print(ka_dataframe['Jason'][1])
print(reference_to_df['Jason'][1])
print(copy_df['Jason'][1])

87
87
82